body {
    margin: 0;
    background-color: #637373
}
header {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
nav {
    padding: 20px;
    background-color: #679B9B;
    width: 95%;
    margin: 20px auto;
    border-radius: 30px;
    position: fixed;
}
nav ul {
    margin: 0px 0px 0px 400px;
    list-style: none;
    display: flex;
}

a {
    vertical-align: top;
    padding: 0px 35px 0px ;
    text-decoration: none;
    color: #222831;
    font-weight: 900;
    font-size: 20px;
}
.cuerpo {
    color: #FFEADB;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 150px;
    width: 85%;
    margin: 20px 45px;
}
article h1 {
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 30px;
}
section {
    background-color: #FF9A76;
    color: #000;
    padding: 20px;
    margin: 20px 35px 0px 0px;
    border-radius: 20px;
}
aside {
    background-color: #FF9A76;
    color: #000;
    padding: 20px;
    margin: 65px 0px 0px 0px;
    border-radius: 20px;
}
.imagen-somos {
    margin: 5px 10px 10px 10px;
    width: 200px;
    height: 200px;
    float: right;
}

footer {
    background-color: #5b8383;
    color: #FFFF;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: stretch;
}